<mat-drawer-container  class="example-container h-screen">
  <mat-drawer mode="side" opened class="">
      <app-search-bar (mandaDatiEvento)="getGameName($event)"></app-search-bar>
  </mat-drawer >
  <mat-drawer-content class="background_custom relative">

    <app-paginator [page]="page" class="fixed right-11 bottom-10" (postPageEvent)="getGamePages($event)"></app-paginator>

    <div class="flex flex-wrap justify-center">
      <div class="m-8" *ngFor="let game of dataGames;">
        <app-card (addCartEvent)="pushArrayCart($event)" [game]="game"></app-card>
      </div>
    </div>
    <app-cart></app-cart>
  </mat-drawer-content >
</mat-drawer-container>
