.container {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.image {
  width: 100%;
  object-fit: contain;
}
.style_custom_card{
  background: linear-gradient(150deg, #006, #402);
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.5);
}